.btn {
  background: #91f0f2;
  background-image: -webkit-linear-gradient(top, #91f0f2, #6698e3);
  background-image: -moz-linear-gradient(top, #91f0f2, #6698e3);
  background-image: -ms-linear-gradient(top, #91f0f2, #6698e3);
  background-image: -o-linear-gradient(top, #91f0f2, #6698e3);
  background-image: linear-gradient(to bottom, #91f0f2, #6698e3);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #39d4d4;
  background-image: -webkit-linear-gradient(top, #39d4d4, #3498db);
  background-image: -moz-linear-gradient(top, #39d4d4, #3498db);
  background-image: -ms-linear-gradient(top, #39d4d4, #3498db);
  background-image: -o-linear-gradient(top, #39d4d4, #3498db);
  background-image: linear-gradient(to bottom, #39d4d4, #3498db);
  text-decoration: none;
}

@media (min-width: 300px) {
  body {
    font-family: Montserrat;
    background-color: #faf9f9;
    margin: 0;
  }

  h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 16vw;
    margin: 20px auto;
    color: #084594;
  }

  h2 {
    color: #084594;
    font-size: 2em;
  }

  h3 {
    color: #398AB9;
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
    padding: 10px 30px 20px 30px;
    margin: 0 auto;
    color: #084594;
  }

  a {
    color: #084594;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.2em;
  }

  hr {
    width: 30%;
    background: #398AB9;
    margin: 0 auto;
    height: 1px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #398AB9;
    padding: 50px auto 50px auto;
  }

  /* NAVBAR MOBILE */
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(#FFFDB5, #F4FAD8)
  }

  .nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 70px 0;
    padding: 0;
  }

  .nav-item {
    margin: 0 8px 0 8px
  }

  /* HEADER MOBILE */
  .header {
    text-align: center;
    background-image: linear-gradient(#F4FAD8, #D5F4FB, #D5F4FB, #D5F4FB, #E8F7FA);
    font-weight: 900;
    padding-bottom: 30px;
  }

  .top-cloud {
    position: relative;
    left: 100px;
  }

  .bottom-cloud {
    position: relative;
    right: 100px;
  }

  .mountain {
    width: 90%;
  }

  /* MAIN MOBILE */
  .main {
    text-align: center;
    background-color: #E8F7FA;
  }

  .profile {}

  .profile-pic {
    width: 50%;
  }

  .skill-row2 {
    margin-bottom: 50px;
  }

  .sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }

  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #398AB9;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }

  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
  }

  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
  }

  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
  }

  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }

  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }

    25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }

    90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }

    25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }

    90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  /* FOOTER MOBILE */
  .footer {
    text-align: center;
    background-image: linear-gradient(#E8F7FA,#D5F4FB, #D5F4FB, #D5F4FB,#D5F4FB);
  }

  #get-in-touch{
    margin: 0;
  }

  .btn-container {
    margin: 30px auto 50px auto;
  }

  .socials {
    width: 80%;
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: space-between;
  }
}

/* ////////////////////DESKTOP///////////////// */
/* ////////////////////DESKTOP///////////////// */
/* ////////////////////DESKTOP///////////////// */
/* ////////////////////DESKTOP///////////////// */
/* ////////////////////DESKTOP///////////////// */

@media (min-width: 1000px) {
  body {
    font-family: Montserrat;
    background-color: #faf9f9;
    margin: 0;
  }

  h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    margin: 20px auto;
    color: #084594;
  }

  h2 {
    color: #084594;
    font-size: 3em;
  }

  h3 {
    color: #398AB9;
    font-size: 1.5em;
  }

  p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 30px 20px 30px;
    color: #084594;
  }

  a {
    color: #084594;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.2em;
  }

  hr {
    width: 30%;
    background: #398AB9;
    ;
    height: 1px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #398AB9;
    padding: 50px auto 50px auto;
    margin: 0 auto;
  }

  /* NAVBAR DESKTOP */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40px;
    align-items: center;
    background: linear-gradient(to bottom right, #FFFC99, #F4FAD8);
  }

  .nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 0;
  }

  .nav-item {
    margin: 0 8px 0 8px
  }

  #brand{
    margin-right: 30px;
  }

  /* HEADER DESKTOP */
  .header {
    text-align: center;
    background-image: linear-gradient(#F4FAD8, #D5F4FB, #D5F4FB, #D5F4FB, #E8F7FA);
    /* TODO CHANGE THE GRADIENT TO A DIAGONAL TO RESEMBLE SUN */
    font-weight: 900;
  }

  .top-cloud {
    position: relative;
    left: 400px;
  }

  .bottom-cloud {
    position: absolute;
    right: 1100px;
  }

  .mountain {
    width: 50%;
    margin-bottom: 30px;
  }

  /* MAIN Desktop */
  .main {
    text-align: center;
    background-color: #E8F7FA;
  }

  .profile {}

  .profile-pic {
    width: 20%;
  }

  .skill-row {
    text-align: left;
    width: 60%;
    margin-bottom: 50px;
  }

  .skill-row2 {
    position: relative;
    left: 500px;
    width: 60%;
    text-align: right;
    margin-bottom: 100px;
  }

  .web-dev-image {
    float: left;
    margin-left: 150px;
    margin-right: 50px;
  }

  .game-dev-image {
    float: right;
    margin-left: 50px;
    margin-right: 50px;
  }

  .sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }

  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #398AB9;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }

  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
  }

  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
  }

  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
  }

  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }

  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }

    25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }

    90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }

    25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }

    90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  /* FOOTER DESKTOP */
  .footer {
    padding-top: 75px;
    text-align: center;
    background-image: linear-gradient(#E8F7FA,#D5F4FB, #D5F4FB, #D5F4FB,#D5F4FB);
  }

  .btn-container {
    margin: 30px auto 50px auto;
  }

  .socials {
    width: 80%;
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: space-between;
  }
}
}
